[Unit]
Description=quasardb server
After=network.target
ConditionPathExists=/etc/qdb/qdbd.conf
ConditionPathExists=/etc/qdb/qdbd.env

[Service]
Type=simple
User=qdb
Group=qdb
EnvironmentFile=/etc/qdb/qdbd.env
ExecStart=/usr/bin/qdbd -c /etc/qdb/qdbd.conf
Restart=on-failure
TimeoutStopSec=0
LimitNOFILE=262144
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
