[Unit]
Description=quasardb server
After=network.target
ConditionPathExists=/etc/qdb/qdbd.conf

[Service]
Type=simple
User=qdb
Group=qdb
ExecStart=/usr/bin/qdbd -c /etc/qdb/qdbd.conf
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
